body {
  background-color: #001F8D;
  background-image: url(media/tumblr_7b4f8ce434cf51ec9ab61b398eb34a71_28aff06a_500.webp);
  background-size: 5%;
  background-position: left top;
  background-repeat:unset;
  color: white;
  font-family: Arial, sans-serif;
  max-height: fit-content;
}

main {
  display: block;
}

.container {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

h1 {
  font-family: "Aclonica",sans-serif;
  font-size: 190%;
}
mark {
  background-color:hotpink;
  color: white;
}
mark:hover{

}
#playlist {
  width: 500px;
  margin: auto;
  flex-wrap: nowrap;
  margin-right: 200px;
}
iframe {
  
}

#image{
  margin: auto;
}
img {
  width: 500px;
  transition-duration: 1s;
}
img:hover{
  transform: scale(125%);
}


#button {
  background-color: rgb(24, 23, 115);
  width: 7%;
  height: 25px;
  padding: 5px;
  text-align: center;
  border: solid 1px;
  margin: auto;
}
#button a {
  color: white;
  font-size: 20px;
}

#button h1 {
  font-size: 0;
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*stickers*/

/*end of sticker code*/