body {
  background-color: #001F8D;
  color: white;
  font-family: Arial, sans-serif;
  max-height: fit-content;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

main {
  display: flex;
  padding: 150px;
}

h1 {
  font-family: "Aclonica",sans-serif;
}
mark {
  background-color: hotpink;
  color: white;
}
mark:hover{

}
.text {
  width: 300px;
  text-align: center;
  margin: auto;
  flex-wrap: nowrap;
  margin-right: 300px;
}

.images{
  margin: auto;
}
img {
  width: 300px;
}
img:hover{
  transform: scale(150%);
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}