header {
  padding: 20px;
  top: 0;
  left: 0;
  width: auto;
  height: fit-content;
  background-image: url(images/Osipov1.png);
  position:sticky;
}
body {
  font-family: "Roboto";
  font-size: 18px;
  margin: auto;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Title {
  color: blue;
  font-family: "Halvetica";
  font-size: 100px;
  margin: 0;
  padding: 0;
}
.menu {
  font-style: italic;
  margin-top: -15px;
}


.textbox {
  margin-left: 1%;
}
details {

}

footer {
  background-color: #3c9786;
  padding: 20px;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  
}