body {
    background-color: #001F8D;
    background-image: url(media/tumblr_7b4f8ce434cf51ec9ab61b398eb34a71_28aff06a_500.webp);
    background-size: 10%;
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: Arial, sans-serif;
    max-height: fit-content;
    overflow: hidden;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 50%
  }
  .content p {
    margin-top: 0;
    font-size: 200%;
  }

  img {
    width: 50%;
  }
  
  
  h1 {
    font-family: "Aclonica",sans-serif;
  }
  mark {
    background-color: hotpink;
    color: white;
  }
  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 100%;
    height: 20%;
    text-align: center;
    margin-bottom: 1%;
  }

  .choice {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .choice img {
    width: 50%;
    transition-duration: 1s;
  }
  .choice img:hover{
    width: 60%;
  }

  #yes {
    padding: 2%;   
  }
  #yes a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #no {
    padding: 2%;
  }
  #no a {
    display: flex;
    justify-content: center;
    align-items: center;
  }