body {
  background-color: #001F8D;
  background-image: url(media/image\ copy.png);
  background-size: cover;
  background-repeat: none;
  margin: 0;
  font-family: Arial, sans-serif;
  max-height: fit-content;
  overflow: hidden;
  color: white;
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20%;
  position: absolute;
  z-index: -100;
}
h1 {
  font-family: "Aclonica",sans-serif;
  font-size: 190%;
}
mark {
  background-color:hotpink;
  color: white;
}

.images {
  display: inline-grid;
  gap: 5px;
} 
img {
  width: 30%;
  opacity: 1.0;
  transition-duration: 1s;
}

.images img:hover {
  opacity: 0;
}

#one {
  width: 50%;
  grid-column-start: 1;
  grid-row-start: 45;
}
#two {
  grid-column-start: 3;
  grid-row-start: 6;
}
#three {
  grid-column-start: 5;
  grid-row-start: 45;
}
#four {
  grid-column-start: 4;
  grid-row-start: 35;
}
#five {
  grid-column-start: 2;
  grid-row-end: 20;
}
#six {
  grid-column-start: 5;
  grid-row-start: 7;
}

#button {
  grid-column-start: 5;
  grid-row-start: 20;
  background-color: rgb(24, 23, 115);
  width: fit-content;
  height: 25px;
  padding: 5px;
  text-align: center;
  border: solid 1px;
}
#button a {
  color: white;
  font-size: 20px;
}

#button h1 {
  font-size: 0;
}
