body {
  background-color: #d0d9cc;
  background-image: url(media/image\ copy.png);
  background-size: cover;
  background-repeat: none;
  margin: 0;
  font-family: Arial, sans-serif;
  max-height: fit-content;
  overflow: hidden;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20%;
  position: absolute;
}
h1 {
  font-family: "Aclonica",sans-serif;
  font-size: 190%;
}
mark {
  background-color:hotpink;
  color: white;
}

.images {
  display: inline-grid;
  gap: 5px;
} 
img {
  width: 30%;
  opacity: 1.0;
  transition-duration: 1s;
}

img:hover {
  opacity: 0;
}

#one {
  grid-column-start: 1;
  grid-row-start: 50;
}

#two {
  grid-column-start: 2;
  grid-row-start: 6;
}

#three {
  width: 50%;
  grid-column-start: 6;
  grid-row-start: 52;
}