body {
  background-color: #001F8D;
  background-image: url(media/giphy.gif);
  margin: 0;
  font-family: Arial, sans-serif;
  max-height: fit-content;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20%;
}
h1 {
  font-family: "Aclonica",sans-serif;
  font-size: 190%;
}
mark {
  background-color:hotpink;
  color: white;
}

img {
  position: absolute;
  z-index: 1;
  width: 20%;
  offset: path('M 50 80 C 150 -20 250 180 350 80') -250px auto 45deg;
  animation: moveImg 4s 1s 1;
}
@keyframes moveImg {
  100%  { offset-distance: 100%; }
}