body {
  background-color: #001F8D;
  color: white;
  font-family: Arial, sans-serif;
  max-height: fit-content;
}

main {
  display: grid;
  justify-content: space-between;
  padding: 5%;
}

h1 {
  font-family: "Aclonica",sans-serif;
  font-size: 190%;
}
mark {
  background-color:hotpink;
  color: white;
}
mark:hover{

}

audio {
}

.scroll-container img {
  width: 200px;
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}
